<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - CSS Society</title>
    <script src="https://kit.fontawesome.com/1d29b1193f.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main-container">

        <div class="nav-container">

            <div class="logo-container">
                Computer Society

            </div>
            <div class="nav-section">
                <div class="nav-menu">
                    <ul class="nav-items">

                        <li class="nav-link" id="home-link">
                            <a href="../index.html"> Home </a>
                        </li>
                        <li class="nav-link  active-link">
                            <a href="about.html"> About Us </a>
                        </li>
                        <li class="nav-link ">
                            <a href="events.html"> Events </a>
                        </li>
                        <li class="nav-link">
                            <a href="members.html"> Members </a>
                        </li>
                        <li class="nav-link">
                            <a href="login.html"> Login </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="about-body">

            <div class="logo-description">
                <div class="club-logo">
                    <img src="../assets/imgs/river.jpg" alt="" class="logo">
                </div>
                <div class="club-description">
                    The Computer Science Society is a society primarily for computer science students and for those who
                    have a strong interest in the field.
                </div>
            </div>

            <div class="club-constitution">
                <div class="headers general-header">
                    <h2> CLUB'S CONSTITUTION</h2>
                </div>
                <div class="constitution">

                </div>
            </div>
            <div class="objectives-section">
                <div class="headers general-header">
                    <h2> OBJECTIVES</h2>
                </div>
                <div class="objectives">
                    <p class="obj-section">This club provides members the opportunity to learn more about the computer
                        science field and many types of hands-on experience. Being given this opportunity may benefit
                        members in their upcoming futures.
                        This club may also prepare computer science students for their upcoming computer science
                        courses.</p>

                    <p class="during">During Club Meeting, members:</p>

                    <ul class="points">
                        <li>Learn about many applications and how to code.</li>
                        <p>
                           - That is learning many programming languages such as c++, java, c# (c sharp), and html in order to create computer programs.
                            Members also learn about many applications such as Microsoft Word, Excel, and Powerpoint.
                        </p>
                        <li>Gain experience through networking.</li>
                        <p>
                            - That is learning from other members experiences in the club.
                        (Members may go up in front of the room to lecture for at least 15 minutes during club meetings.)
                        For example: If one member has experience with java, he or she may teach the rest of the club a little bit about java. 
                        </p>
                        <li>Learn from professionals.</li>
                        <p>
                            - That is learning from the experiences of those who work for many companies such as Cisco, IBM, and Microsoft, through club events.   
                        </p>
                        <li>Learn more about the field of computer science.</li>
                        <p>
                            - Members learn about the many types of benefits that a computer science degree may offer and the types of the careers that are held within the field.
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="assets/js/script.js"></script>
<link rel="stylesheet" href="../assets/css/style.css">

</html>