<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <script src="https://kit.fontawesome.com/1d29b1193f.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main-container">

        <div class="nav-container">

            <div class="logo-container">
                Computer Society
            </div>
            <div class="nav-section">
                <div class="nav-menu">
                    <ul class="nav-items">

                        <li class="nav-link" id="home-link">
                            <a href="../index.html"> Home </a>
                        </li>
                        <li class="nav-link">
                            <a href="about.html"> About Us </a>
                        </li>

                        <li class="nav-link active-link">
                            <a href="events.html"> Events </a>
                        </li>
                        <li class="nav-link">
                            <a href="officers.html"> Officers </a>
                        </li>
                        <li class="nav-link">
                            <a href="members.html"> Members </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="assets/js/script.js"></script>
<link rel="stylesheet" href="../assets/css/style.css">

</html>