@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after:not(i),
*::before:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}


ul>li {
    list-style: none;
}

.main-container {
    height: 100dvh;
    width: 100%;
    padding: 30px 50px;
}






/* NAVIGATION BAR */

.logo-container {
    color: rgb(237, 163, 25);
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-container {
    background-color: #2d2d2d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
}

.nav-section {
    width: 80%;
    display: flex;
    justify-content: end;
}

.nav-menu {
    margin-left: auto;
    padding: 5px 15px;

}

.nav-items {
    display: flex;
    padding: 4px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 17px;
    border-radius: 15px;
    /* transition: all 0.1s ease-in-out; */
    cursor: pointer;
}

.nav-link:hover a {
    /* background-color: #351e33; */
    color: rgb(237, 163, 25);
}



.active-link a {
    color: rgb(237, 163, 25);
    font-weight: 400;
}



/* HOME PAGE */















/* MEMBERS PAGE */
.members-body {
    padding: 30px 30px;
}

.current-members{
    margin-bottom: 40px;
}

.members-officers-header{
    text-align: center;
    color: rgb(237, 163, 25);
    margin: 30px;
}

.members-header {
    text-align: center;
    color: rgb(237, 163, 25);
    margin: 30px;
}

.member-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual-member{
    border: solid 2px rgb(237, 163, 25);
    margin-right: 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.individual-member:hover{
    box-shadow: 1px 2px 10px rgba(237, 163, 25, 0.545);
}

.photo {
    height: 180px;
    width: 180px;
    /* border-radius: 10px; */
    overflow: hidden;
}

.member-picture{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.members-info{
    padding-top: 12px;
}

.members-info, .member-info > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
}

.member-name{
    /* background: red; */
    line-height: 16px;
    font-size: 1.1rem;
    opacity: 0.7;
}


.member-social{
    /* background: green; */
    border-top: solid 1px #2d2d2d8a;
    width: 80%;
    margin-top: 7px;
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

.member-social kbd{
    border: solid 0.5px #2d2d2d;
    padding: 2px 5px;
    margin-right: 12px;
    border-radius: 3px;
}

.join-club{
    margin-top: 80px;
    text-align: center;
}
.join{
    margin-top: 10px;
}